

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'The Wild Breath of Zelda';
  src: url('../src/font/The_Wild_Breath_of_Zelda.woff') format("woff");
}
@font-face {
  font-family: 'Sketch Gothic School';
  src: url('../src/font/Sketch_Gothic_School.woff') format("woff");
}

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
