@tailwind base;
@tailwind components;

@font-face {
  font-family: 'The Wild Breath of Zelda';
  src: url('../src/font/The_Wild_Breath_of_Zelda.woff') format("woff");
}
@font-face {
  font-family: 'Sketch Gothic School';
  src: url('../src/font/Sketch_Gothic_School.woff') format("woff");
}

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes carousel {
  from {top: 20px}
  to {top: 0}
}
@keyframes carousel-text {
  from {margin-top: 20px; opacity: 0;}
  to {margin-top: 0; opacity: 1;}
}
@keyframes carousel-text-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

.carousel-picture-size {
  width: 150vh;
  height: 80vh;
}
.carousel-text-size {
  width: 70vh;
  height: 45vh;
}

.home-picture-size {
  width: 56vh;
  height: 32vh;
}